<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*" Name="Rhyous.Db.FileTableFramework" Language="1033" Version="1.12.0.0" Manufacturer="Rhyous Publishing LLC" UpgradeCode="b54f4361-3bc9-4d84-adbe-656463c20f12">
    <Package InstallerVersion="200" InstallPrivileges="elevated" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="files.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Rhyous.Db.FileTableFramework.Msi" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="RhyousFolder" Name="Rhyous" >          
          <Directory Id="INSTALLFOLDER" Name="Db.FileTableFramework" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="dll_Component" Guid="*" Win64="$(var.Win64)">
        <File Id='FileTableFramework_dll_id' Name='$(var.Rhyous.Db.FileTableFramework.12.TargetFileName)' DiskId='1' Source='$(var.Rhyous.Db.FileTableFramework.12.TargetPath)' KeyPath='yes' />
      </Component>
      <Component Id="sql_Component" Guid="*" Win64="$(var.Win64)">
        <File Id='FileTableFramework_sql_id' Name='Install to Database.sql' DiskId='1' Source='$(var.SolutionDir)..\SQL\Install to Database.sql' KeyPath='yes' />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>